<!DOCTYPE html>
{% extends "notes_app/base.html" %}
{% block body_block%}
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-right">
                <button type="button" data-type="notes" class="btn btn-warning add_new_tag">Add a new tag</button>
            </div>
            <h4>Add Notes</h4></div>
        <form method="POST" action="/note_action/">{% csrf_token %}

            <div class="panel-body">

                {{ form.as_p }}


            </div>
            <div class="panel-footer text-right">
                <button type="submit" class="btn btn-success">Save</button>
                <button type="Reset" class="btn  btn-default">Clear</button>
            </div>
        </form>
    </div>


    <div class="panel panel-default">
        <div class="panel-heading"><h4> List of notes</h4></div>
        <div class="panel-body">
            <div class="row col-lg-4 col-lg-offset-4">
                <select id="tag_id" class="form-control">
                    <option value="0">All</option>
                    {% for tags in tag %}
                    {% if selected_id == tags.id %}
                    <option value="{{ tags.id }}" selected>{{ tags.tag }}</option>
                    {%else%}
                    <option value="{{ tags.id }}">{{ tags.tag }}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="row col-lg-12">
                {% if note %}
                <ul>
                    {% for notes in note %}
                    <li><span>{{ notes.created_date|date:"N j, o,"  }} {{ notes.created_date|time:"P " }}</span><a
                            href="/note_action/{{notes.id}}">{{notes.note|truncatewords:5}}</a>
                        <button type="button" class="btn btn-outline-danger delete_note" data-id="{{notes.id}}">Delete</button>
                    </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
        <div class="panel-footer">
            <div class="pagination">

    <span class="step-links">

        {% if note.has_previous %}

            <a href="?page={{ note.previous_page_number }}">previous</a>

        {% endif %}

        <span class="current">

            Page {{ note.number }} of {{ note.paginator.num_pages }}

        </span>

        {% if note.has_next %}

            <a href="?page={{ note.next_page_number }}">next</a>

        {% endif %}

    </span>

            </div>

            {% else %}
            <br>
            <strong>There are no notes available.</strong>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}